body {
    font-family: Arial, sans-serif;
    background-color: rgb(217, 143, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#todo-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 2px solid black;
}

h1 {
    text-align: center;
}

#input-section {
    display: flex;
    flex-direction: column;
}

#task-input,
#due-date {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task-button {
    padding: 10px;
    background-color: hsl(134, 87%, 27%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#validation-message {
    color: #00ff00;
    font-size: 0.9em;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#task-list li.completed {
    text-decoration: line-through;
    background-color: #d3d3d3;
}

#filters {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.filter-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#clear-completed-button {
    background-color: #3583dc;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}
